<div class="card-sign pt-5 pl-3">
  <div class="card w-25">
  <div class="card-body mx-3 " >
    <h2 class="card-title text-center">Sign Up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group input-group mx-auto">
        <div class="input-group-prepend">
          <span class="input-group-text"><%= fa_icon("user lg") %></span>
        </div>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"ユーザーネーム" %>
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><%= fa_icon("envelope") %></span>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email" %>
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><%= fa_icon("check") %></span>
        </div>
        <%= f.text_field :nick_name, autofocus: true, autocomplete: "email", placeholder:"ニックネーム" %>
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><%= fa_icon("user-circle") %></span>
        </div>
        <%= f.label :アバター %>
        <%= f.file_field :icon%>
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><%= fa_icon("lock lg") %></span>
        </div>
        <% if @minimum_password_length %>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード" %>
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><%= fa_icon("lock lg") %></span>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワードの確認" %>
      </div>
      <div class="form-group">
        <%= f.submit "Sign in", class: "btn btn-lg btn-custom"%>
      </div>
    <% end %>
    <p class="text-center">Do you have an account?<br><%= link_to "ログインする", user_session_path %></p>
    <%#= render "devise/shared/links" %>
  </div>
</div>
</div>
