<section class="jumbotron jumbotron-fluid text-center">
  <div class="container" id="movie">
    <% if flash[:notice]%>
    <div class="alert alert-dismissible mx-auto" role="alert">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <h1 class="jumbotron-heading"><br>Flicks</h1>
    <div class="d-flex justify-content-center">
      <%= search_form_for(@q, url:movies_path(anchor:'some-id')) do |f| %>
        <div class="form-inline search_bar">
          <%= f.search_field :title_cont, class: "form-control mr-sm-2", placeholder: "作品名...", ontouchstart: ""  %>
          <%= f.submit class: "btn btn-custom search-btn" %>
        </div>
      <% end %>
    </div>
    <% unless user_signed_in? %>
      <p class="signup-btn">
        <%= link_to "登録して使う", new_user_registration_path, class:"btn btn-primary my-2" %>
      </p>
    <% end %>
  </div>
</section>
<div class="container">
  <div class="movie-top" id="some-id"><p></p></div>
  <div class="row">
    <% @movies.each_with_index do |movie, i| %>
      <% if i%3==0 %>
        <div class="col-md-3">
      <% elsif i%2==0 %>
        <div class="col-md-4">
      <% else %>
        <div class="col-md-5">
      <% end %>
        <div class="card mb-4 shadow-sm">
          <%= link_to image_tag(movie.image.url, class: "card-img-top"), movie_path(movie) %>
          <div class="card-body">
            <p class="card-text text-center"><%= movie.title %></p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div><%= paginate @movies, window: 2 %></div>
</div>