<%= search_form_for @q do |f| %>
  <%= f.label :title, "タイトル" %>
  <%= f.search_field :title_cont %>

  <%= f.submit "検索" %>
<% end %>

<table class="table">
  <thead>
  <tr>
    <!--      <th colspan="5"></th>-->
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
      <%= link_to reviews_path(movie, movie.id) do %>
        <%= image_tag movie.image.url, :size =>'320x320' %>
      <%#= render 'follow_form', movie: movie  %>
      <% end %>
  <% end %>
  <%#= paginate @movies %>
  </tbody>
</table>

