<!--<form class="form-inline my-2 my-lg-0">-->
  <%#= search_form_for @q do |f| %>
    <%#= f.label :"" %>
    <%#= f.search_field :title_cont, placeholder: "タイトル"  %>
    <%#= f.submit "検索",class: "btn btn-primary" %>
  <%# end %>
<!--</form>-->
<section class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="jumbotron-heading">flicks</h1>
    <p class="lead">映画を探す</p>
    <div class="d-flex justify-content-center h-80">
      <%= search_form_for @q do |f| %>
        <div class="form-inline search_bar">
          <%= f.search_field :title_cont, class: "form-control mr-sm-2", placeholder: "検索...", ontouchstart: ""  %>
          <%= f.submit class: "btn btn-danger my-2 my-sm-0 search-btn" %>
        </div>
      <% end %>
    </div>
    <% unless user_signed_in? %>
      <p class="signup-btn">
        <%= link_to "登録して使う", new_user_registration_path, class:"btn btn-primary my-2" %>
      </p>
    <% end %>
  </div>
</section>

<!--<table class="table">-->
<!--  <thead>-->
<!--  <tr>-->
<!--      <th colspan="5"></th>-->
<!--    <th></th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
  <%# @movies.each do |movie| %>
      <%#= link_to reviews_path(movie, movie.id) do %>
        <%#= image_tag movie.image.url, :size =>'320x320' %>
      <%#= render 'follow_form', movie: movie  %>
      <%# end %>
  <%# end %>
<!--  </tbody>-->
<!--  <div class="row">-->
<!--    <div class="col-sm-12">-->
      <%#= paginate @movies %>
<!--    </div>-->
<!--  </div>-->
<!--</table>-->


<div class="container">
  <div class="movie-top"><p>flicks</p></div>
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= link_to image_tag(movie.image.url, class: "card-img-top"), movie_path(movie) %>
          <div class="card-body">
            <p class="card-text"><%= movie.title %></p>
            <div class="d-flex justify-content-between align-items-center">
<!--              <small class="text-muted"><%#= Date.parse(movie.date.to_s).strftime("%Y年%m月%d日") %></small>-->
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div><%= paginate @movies, window: 2 %></div>
</div>

