<%= form_with(model:@movie, local: true) do |form| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "#{t('view.error')}") %></h2>

      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :watched_by %>
    <%= form.select :watched_by, Movie.watched_bies.keys.to_a, {} %>
  </div>

  <% Category.all.each do |cat| %>
    <%# if  cat.user_id.nil? %>
      <%= form.check_box :category_ids, { multiple: true, checked: cat[:checked], disabled: cat[:disabled], include_hidden: false }, cat[:id] %>
      <label><%= cat.name %></label>
    <%# end %>

    <%# if cat.user_id == current_user.id %>
      <%#= form.check_box :cat_ids, { multipie: true, checked: cat[:checked], disabled: cat[:disabled], include_hidden: false }, cat[:id] %>
<!--      <label><%#= cat.name %></label>-->
    <%# end %>
  <% end %>

  <%# if  cat.user_id.nil? %>
      <%#= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
<!--      <label><%#= label.label_name %></label>-->
    <%# end %>

    <%# if label.user_id == current_user.id %>
      <%#= form.check_box :label_ids, { multipie: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
<!--      <label><%#= label.label_name %></label>-->
    <%# end %>
  <%# end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "一覧へ", movies_path %>

<!--<airticle class="card-body mx-auto">-->
<!--  <h4 class="card-title mt-3 text-center">新規登録</h4>-->
  <%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%#= render "devise/shared/error_messages", resource: resource %>
<!--    <!--    <p class="divider-text">-->-->
<!--    <!--      <span class="bg-white">または</span>-->-->
<!--    <!--    </p>-->-->
<!--    <div class="form-group input-group mx-auto">-->
<!--      <div class="input-group-prepend">-->
<!--      </div>-->
      <%#= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"ユーザーネーム" %>
<!--    </div>-->
<!--    <div class="form-group input-group">-->
<!--      <div class="input-group-prepend">-->
<!--      </div>-->
      <%#= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email" %>
<!--    </div>-->
<!--    <div class="form-group input-group">-->
<!--      <div class="input-group-prepend">-->
<!--      </div>-->
      <%#= f.text_field :nick_name, autofocus: true, autocomplete: "email", placeholder:"ニックネーム" %>
<!--    </div>-->
<!--    <div class="form-group input-group">-->
<!--      <div class="input-group-prepend">-->
<!--      </div>-->
      <%#= f.label :アバター %>
      <%#= f.file_field :icon%>
<!--    </div>-->
<!--    <div class="form-group input-group">-->
<!--      <div class="input-group-prepend">-->
<!--      </div>-->
      <%#= f.label :password %>
      <%# if @minimum_password_length %>
<!--        <!--    <em>(<%##= @minimum_password_length %> characters minimum)</em>-->-->
<!--      <%# end %><br />-->
      <%#= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード" %>
<!--    </div>-->
<!--    <div class="form-group input-group">-->
<!--      <div class="input-group-prepend">-->
<!--      </div>-->
<!--      <!--    <%##= f.label :password_confirmation %><br />-->-->
      <%#= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワードの確認" %>
<!--    </div>-->
<!--    <div class="form-group">-->
      <%#= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block"%>
<!--    </div>-->
  <%# end %>
<!--  <p class="text-center">アカウントをお持ちですか？<%#= link_to "ログインする", user_session_path %></p>-->
<!--  <!--    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>-->-->
  <%#= render "devise/shared/links" %>
<!--</airticle>-->

