<h3>映画詳細</h3>
  <p>
    <strong></strong>
    <%= image_tag @movie.image.url, :size =>'320x320' %>
  </p>
  <p>
    <strong></strong>
    <%= @movie.title %>
  </p>
  <p>
    <strong></strong>
    <%= @movie.watched_by %>
  </p>
  <p><% @movie.categories.each do |cat| %>
      <%= cat.name %>
      <% end %>
  </p>
<p>
  <strong></strong>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_movie_path(id: @movie.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorite_movies_path(movie_id: @movie.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<%# end %>
</p>
<%= link_to "映画一覧へ", movies_path %></br>
<%= link_to "レビュー一覧", reviews_path(@movie, @movie.id) %></br>
<%= link_to "レビューを投稿する", new_review_path(@movie, @movie.id)%>

