<h3><%= t('view.task_show') %></h3>
<p>
  <strong><%= t('view.name') %></strong>
  <%= image_tag @movie.image.url, :size =>'320x320' %>
</p>

<p>
  <strong><%= t('view.details') %></strong>
  <%= @movie.title %>
</p>

<p>
  <strong><%= t('view.state') %></strong>
  <%= @movie.watched_by %>
</p>

<%= link_to "映画一覧へ", movies_path %>
