<h3>ユーザー詳細</h3>
<p>
  <strong>イメージ</strong>
  <%= image_tag @user.icon.url, :size =>'320x320' %>
</p>

<p>
  <strong>名前</strong>
  <%= @user.name %>
</p>

<!--<p>-->
<!--  <strong>お気に入り</strong>-->
<%#= @user.impression %>
<%# unless @user.user_id == current_user.id %>
  <%# if @favorite.present? %>
    <%#= link_to 'お気に入り解除する', favorite_movie_path(id: @user.id), method: :delete, class: 'btn btn-danger' %>
  <%# else %>
    <%#= link_to 'お気に入りする', favorite_movies_path(movie_id: @user.id), method: :post, class: 'btn btn-primary' %>
  <%# end %>
<%# end %>
<!--</p>-->


<%= link_to "映画一覧へ", movies_path %>
<%= link_to "レビュー一覧", reviews_path(@user, @user.id) %>
<%= link_to "レビューを投稿する", new_review_path(@user, @user.id)%>