<div class="movie-show pt-5 pb-5">
  <div class="card w-25 mx-auto align-items-center">
    <div class="card-body">
      <h2 class="card-title mt-3 text-center">Log In</h2><br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= render 'layouts/error_message', model: f.object %>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><%= fa_icon("envelope") %></span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email" %>
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><%= fa_icon("lock lg") %></span>
          </div>
          <%= f.password_field :password, autocomplete: "password", placeholder:"password" %>
        </div>
        <div class="form-group input-group">
          <div class="form-group">
          </div>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>
        <div class="form-group input-group">
          <div class="form-group">
          </div>
            <%= f.submit "Log in", class: "btn btn-lg btn-default btn-block"%>
        </div>
      <div class="text-center">Do you have an account?<br><%= link_to "サインアップする", new_user_registration_path %>
      </div><br>
      <%#= render "devise/shared/links" %>
      <% end %>
        <div class="form-group input-group mx-auto">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>
