<div class="movie-show">
  <div class="container pt-5">
    <div class="card w-50 mx-auto">
      <div class="card-body mx-auto">
        <h2 class="card-title mt-3">Category</h2>
        <br>
        <%= form_with(model:@cat, local: true) do |form| %>
          <%= render 'layouts/error_message', model: form.object %>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><%= fa_icon("tags") %></span>
              </div>
              <%= form.text_field :name, autofocus: true, autocomplete: "name", placeholder:"category" %>
            </div>
            <div class="form-group input-group pt-4">
              <div class="form-group">
              </div>
              <%= form.submit "Create", class: "btn btn-lg btn-custom btn-block"%>
            </div>
          <% end %>
        <div class="actions text-center">
          <%= link_to "movies", movies_path, class: 'btn btn-default btn-lg'%></br>
        </div>
      </div>
    </div>
  </div>
</div>
