<div class="review">
  <div class="container pt-3" %>
    <h2>Reviews</h2>
    <% @movie = Movie.find(params[:format]) %>
    <div class="video-info justify-content-center d-flex">
    <%= image_tag @movie.image.url, :size =>'320x320' %>
    </div>
    <div class="review-button justify-content-center d-flex"><%= link_to 'レビューを書く', new_review_path(@movie, @movie.id), class:"btn btn-custom" %>
    </div></br>
    <h2><strong>Title&nbsp;&nbsp;</strong><%= @movie.title %></h2>
  <% @movie.reviews.each do |review| %>
    <div class="reviews">
      <div class="row blockquote review-item w-75 mx-auto">
        <div class="col-md-3 text-center">
          <%= link_to review_path(review) do %>
            <%= image_tag review.user.icon.url, :size =>'80x80' %><br>
            <%= @movie.title %>
          <% end %>
          <div class="caption">
          </div>
        </div>
        <div class="col-md-9">
          <%= review.impression %><br>
          <%= @movie.watched_by + "#{'で見られるよ!'}"%><br>
          <small class="review-date"><%= Date.parse(review.created_at.to_s).strftime("%Y年%m月%d日") %></small><br>
          <% unless review.user_id == current_user.id %>
            <% @favorite = current_user.favorite_reviews.find_by(review_id: review.id) %>
            <% if @favorite.present? %>
              <%= link_to favorite_review_path(id: review.id), method: :delete do %>
                <i class="fa fa-thumbs-up mx-auto" aria-hidden="true">bad</i>
              <% end %>
            <% else %>
              <%= link_to favorite_reviews_path(review_id: review.id), method: :post do %>
                <i class="fa fa-thumbs-o-up mx-auto" aria-hidden="true">good</i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="actions text-center pb-3">
      <%= link_to "movies", movies_path, class: 'btn btn-custom'%>
      <%= link_to "post-review", new_review_path(@movie, @movie.id), class: 'btn btn-custom'%>
    </div>
  </div>
</div>
</div>
