<% @review = Review.find(params[:id]) %>
<% mov = @review.movie %>
<% @movie = Movie.find(mov.id) %>
<div class="review">
  <div class="container pt-3">
    <h2>Review</h2>
    <div class="video-info justify-content-center d-flex">
      <%= image_tag @movie.image.url, :size =>'320x320' %>
    </div><br>
    <h2><strong>Title&nbsp;&nbsp;</strong><%= @movie.title %></h2>
    <div class="row blockquote review-item w-75 mx-auto">
      <div class="col-md-3 text-center">
        <%= link_to user_path(@review.user) do %>
          <%= image_tag @review.user.icon.url, :size =>'80x80' %><br>
          <%= @review.user.name %>
        <% end %>
      </div>
      <div class="col-md-9">
        <%= @review.impression %><br>
        <%= @movie.watched_by + "でみれます！" %>
        <div class="text-center">
          <%= render 'reviews/fllow_movie' %>
        </div>
      </div>
    </div>
    <div class="actions text-center">
      <%= link_to "movies", movies_path, class: 'btn btn-custom mb-3' %><br>
      <%= link_to "reviews", reviews_path(@movie, @movie.id), class: 'btn btn-custom mb-3' %><br>
      <%= link_to "post-review", new_review_path(@movie, @movie.id), class: 'btn btn-custom mb-3' %>
    </div>
  </div>
</div>
