<% @review = Review.find(params[:id]) %>
<% mov = @review.movie %>
<% @movie = Movie.find(mov.id) %>
<div class="review">
<div class="container">
  <div class="mx-auto text-center">
  <%= image_tag @movie.image.url, :size =>'320x320' %>

  </div>
  <br>
    <div class="col-md-4 mx-auto">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <p class="card-text text-center"><%= @movie.title %></p>
          <div>
          <%= @review.impression %>
          </div>
          <br>
          <div>
            <%= @movie.watched_by + "でみました！" %>
          </div>
          <div class="">
          <% unless @review.user_id == current_user.id %>
            <% if @favorite.present? %>
          <%= link_to favorite_review_path(id: @review.id), method: :delete do %>
            <i class="fa fa-thumbs-up mx-auto" aria-hidden="true"></i>
          <% end %>
            <% else %>
          <%= link_to favorite_reviews_path(review_id: @review.id), method: :post do %>
            <i class="fa fa-thumbs-o-up mx-auto" aria-hidden="true"></i>
            <% end %>
            <% end %>
          <% end %>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="col">
          <%= link_to "映画一覧へ", movies_path %></br>
          <%= link_to "レビュー一覧", reviews_path(@movie, @movie.id) %></br>
          <%= link_to "レビューを投稿する", new_review_path(@movie, @movie.id)%>
        </div>
          </div>
      </div>
    </div>
</div>
</div>
