<!DOCTYPE html>
<html>
  <head>
    <title>FlickFlicks</title>
    <%#= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
  </head>
  <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand h1">
      <% if user_signed_in? %>
        <%= link_to "Flick Flicks", movies_path %></a>
      <% else %>
        <%= link_to "Flick Flicks", root_path %></a>
      <% end %>
<!--      <img src="assets/images/f_f_event_30_svg_f_event_30_0bg.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <% if user_signed_in? && current_user.admin_flg? %>
          <li class="nav-item active"><%= link_to "post-movie", new_movie_path, class: "nav-link" %></li>
          <li class="nav-item active"><%= link_to "movies", movies_path(anchor: 'some-id'), class: "nav-link" %></li>
          <li class="nav-item active"><%= link_to "users", users_path, class: "nav-link" %></li>
          <li class="nav-item active"><%= link_to "ranking", ranking_index_path, class: "nav-link" %></li>
          <li class="nav-item active"><%= link_to "flicks", flicks_index_path, class: "nav-link" %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-menu"><%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link" %></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-menu"><%= link_to "admin", rails_admin_path, class: "nav-link" %></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-menu"><%= link_to "category", new_category_path, class: "nav-link" %></a>
          </div>
        </li>
        <% elsif user_signed_in? %>
          <li class="nav-item active"><%= link_to "post-movie", new_movie_path, class: "nav-link" %></li>
          <li class="nav-item active"><%= link_to "movies", movies_path(anchor: 'some-id'), class: "nav-link" %></li>
          <li class="nav-item active"><%= link_to "users", users_path, class: "nav-link" %></li>
          <li class="nav-item active"><%= link_to "ranking", ranking_index_path, class: "nav-link" %></li>
          <li class="nav-item active"><%= link_to "flicks", flicks_index_path, class: "nav-link" %></li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-menu"><%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link" %></a>
          </div>
          </li>
      </ul>
        <% else %>
          <%= link_to "SignUp", new_user_registration_path, class: "nav-link" %>
          <%= link_to "LogIn", new_user_session_path, class: "nav-link" %>
        <% end %>
      </form>
    </div>
  </nav>
  <body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
  <%= yield %>
  </body>
  <footer class="page-footer font-small special-color-dark pt-4">
    <div class="container">
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fa fa-google" aria-hidden="true"></i>
          </a>
        </li>
        <li>
      </ul>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://takashitakeyama.github.io" target="_blank"> TakeyamaTakashi.Inc</a>
    </div>
  </footer>
</html>
