<!DOCTYPE html>
<html>
  <head>
    <title>FlickFlicks</title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? && current_user.admin_flg? %>
      <%= link_to "映画投稿", new_movie_path %>
      <%= link_to "映画一覧", movies_path %>
      <%= link_to "ユーザー一覧", users_path %>
      <%= link_to "カテゴリー作成", new_category_path %>
      <%= link_to "flicks", flicks_index_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "管理画面へ", rails_admin_path %>
    <% elsif user_signed_in? %>
      <%= link_to "映画投稿", new_movie_path %>
      <%= link_to "映画一覧", movies_path %>
      <%= link_to "ユーザー一覧", users_path %>
      <%= link_to "flicks", flicks_index_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "ユーザー詳細", edit_user_registration_path %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
